.switch-conversion-button {
    /*margin-left: 35px !important;*/
    margin-top: 50px !important;
    width: 64px;
    height: 36px;
}

.flag-converter {
    width: 7%;
    height: auto;
    margin-left: 5px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
}

.currency-label {
    font-size: 20px !important;
    font-family: "Roboto Slab", serif !important;
}

.amount-textfield {
    width: 300px !important;
}

.amount-textfield input {
    background-color: white;
    font-family: "Roboto Slab", serif;
}