.flex-parent-element {
    display: flex;
    width: 100%;
}

.flex-child-element {
    flex: 1;
    margin: 3vh;
    margin-bottom: 0;
    height: 62vh;
}

.flex-child-body{
    border: 0.3vh groove rgb(0, 33, 65);
    background-color: white;
    border-radius: 1vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 53vh;
}

.my-exchanges-instructions {
    font-family: "Roboto Slab", serif;
    color: #545353;
    margin: 2vw;
}

.user-transactions-table-container {
    width: 70vw;
    height: 72vh;
}